header
    background-color: #111
    width: 100%

img
    max-width: 100px
    height: auto

*
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

body
    background-color: #222