.headerContent
    width: 50%
    margin: 0 auto
    color: #fff
    display: grid
    grid-template-columns: 1fr 4fr
    align-items: center


.formSearch
    display: grid
    grid-template-columns: 8fr 1fr
    input
        background: none
        border: 0
        padding-left: 5px
        outline: 1
        color: #fff
        background-color: #222
        font-size: 20px
        height: 4.4vh
        outline: none
    button
        background-color: rgba(0,0,0,0)
        border: none
        color: white
        padding: 6px
        text-align: center
        text-decoration: none
        height: 5vh
        outline: none
        cursor: pointer
        &:hover
            svg
                fill: #00aeff
        svg
            fill: #fff
            